body {
	background-color: #FFEFD5; 


	.header {
		text-align: center; 
		h1 {
		    font-family: impact, sans-serif;
		   	letter-spacing: 0.5px;
		   	font-size: 134px;
		   	text-shadow: 3px 3px #2C97D1;

		}
	}
	.header:hover { 
        opacity: 0;
        -webkit-transition: opacity 1.69s ease-in-out;
	}



	ul.nav {
		display: block; 
		margin: 0px auto 10px auto;
		width: 221px;
	}
	.world {
		display: block;
		margin: 0px auto;
		border: 5px solid;
		color: #2C97D1;
		box-shadow: 10px 10px 5px #888888;
		margin-bottom: 32px;
		// margin-left: 503px;
	}
	
	.row {
		.middle-col {
		 	text-align: center; 	
		 	display: block; 
			margin: 0px auto 10px auto;
			width: 250px;
		} 
	}
	
	.navdiv {
		float: left; 
	}
	.table {
		font-family: Courier New;
		width: calc(100% - 50px);
		margin: 0 25px 10px 25px; 
	}
	tr:nth-child(2n) {
		color: green
	} 
	tr:nth-child(2n+1) {
		color: #0066FF
	} 
	th {
		color: black; 
		padding: 13px; 
	}





}